html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.5;
}
h1 {
  font-size: 21px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 14px;
}
hr {
  border: 1px dashed #ddd;
}
strong {
  font-weight: bold;
}
em,
cite {
  font-style: italic;
}
sup,
sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
small {
  font-size: 0.85em;
}
acronym,
abbr {
  border-bottom: 1px dotted;
}
ul,
ol,
dl {
  margin: 0 20px;
  line-height: 1.6em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
dt {
  font-weight: bold;
}
#header {
  position: fixed;
  top: 20px;
  left: 40px;
}
#header a {
  color: #000;
  text-decoration: none;
}
#header-title {
  text-align: center;
}
#logo-wrap {
  font-family: '黑体', 'Times New Roman', sans-serif;
  font-size: 40px;
}
#logo-wrap,
#subtitle-wrap {
  margin-bottom: 10px;
}
#sidebar {
  margin-top: 20px;
}
#sidebar .widget-title {
  padding: 5px 0;
  margin-top: 15px;
  font: bold 14px microsoft yahei;
  color: #53bf6b;
  font-family: "Microsoft Yahei";
  border-bottom: 2px solid #ddd;
}
#sidebar .category-list {
  padding: 5px 0;
}
#sidebar .category-list-item {
  line-height: 26px;
}
#sidebar .category-list-link {
  font-size: 14px;
}
#sidebar .category-list-link :hover {
  color: #53bf6b;
}
#sidebar .category-list-count {
  font-family: 'Lucida', sans-serif;
  margin-left: 10px;
  color: #808080;
  font-size: 13px;
}
#sidebar .category-list-count:before {
  content: "(";
}
#sidebar .category-list-count:after {
  content: ")";
}
#main {
  margin-left: 250px;
  min-height: 800px;
  border-left: 1px solid #ddd;
  background-color: #f9f9f5;
  color: #2c3e50;
}
.article {
  font-size: 16px;
  padding-bottom: 1px;
}
.article-inner {
  padding: 1px 40px 20px 60px;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: #2c3e50;
}
.article-inner a.article-title {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  border-left: 3px solid #53bf6b;
}
.article-inner h1.link-title {
  margin: 30px 0 5px;
}
.article-inner .article-meta {
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 14px;
}
.article-inner .article-date {
  margin-right: 20px;
}
.article-inner .article-category,
.article-inner .article-date {
  display: inline-block;
}
.article-inner .article-date,
.article-inner .article-category-link {
  text-decoration: none;
  color: #bbb;
}
.article-inner blockquote {
  padding: 10px 15px;
  border-left: 5px solid #d6dbdf;
  background: none repeat scroll 0 0 rgba(102,128,153,0.05);
}
.article-inner blockquote p {
  margin-bottom: 15px;
}
.article-inner blockquote p:last-child {
  margin-bottom: 0;
}
.article-inner ul,
.article-inner ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.article-inner li {
  line-height: 27px;
}
.article-inner h1,
.article-inner h2,
.article-inner h3,
.article-inner h4,
.article-inner h5,
.article-inner h6 {
  font-weight: 500;
  font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.article-inner h1 {
  margin: 50px 0 20px;
  font-size: 30px;
}
.article-inner h2 {
  margin: 35px 0 20px;
  font-size: 24px;
}
.article-inner h3 {
  margin: 20px 0;
  font-size: 18px;
}
.article-inner p {
  line-height: 27px;
}
.article-inner p,
.article-inner pre,
.article-inner blockquote {
  margin: 0 0 20px;
}
.article-inner hr {
  border: 0;
  border-bottom: 1px dashed #cfcfcf;
  margin: 30px 0;
}
.article-inner dl {
  margin-bottom: 20px;
}
.article-inner dt,
.article-inner dd {
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 27px;
}
.article-inner dt {
  font-weight: 700;
}
.article-inner dd {
  margin-left: 40px;
}
.article-inner table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-left: 0;
  background-color: #fff;
  border-collapse: separate;
}
.article-inner table th {
  font-weight: 700;
}
.article-inner table th,
.article-inner table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.article-inner table th,
.article-inner table td {
  border-left: 1px solid #ddd;
}
.article-inner table thead:first-child tr:first-child th {
  border-top: 0;
}
.article-inner table tbody > tr:nth-child(odd) > td,
.article-inner table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 20px 0;
  }
  #article-nav:before {
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
#footer {
  position: relative;
  background: #ddd;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .outer {
  margin: 0 auto;
  max-width: 1000px;
}
#footer-info {
  padding: 0 20px;
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #ccc;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  border: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.toc-trigger {
  position: fixed;
  top: 5px;
  right: 5px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: rgba(255,255,255,0.8);
}
.toc-trigger a {
  text-decoration: none;
  color: #777;
}
.toc-trigger .toc-link {
  color: #444;
}
.toc-trigger .toc-link:hover {
  text-decoration: underline;
}
.toc-trigger:hover {
  background: #fff;
  border-color: #777;
}
.toc-trigger:hover a {
  color: #333;
}
.toc-trigger .dropdown-menu {
  padding: 20px 10px;
  min-width: 250px;
  max-height: 300px;
  overflow: auto;
}
.toc-trigger ol {
  list-style: none;
  margin: 0 0 0 10px;
}
.post-item {
  padding: 20px 50px 20px 10px;
  border-bottom: 1px dashed #ccc;
}
.post-item a {
  text-decoration: none;
  color: #888;
}
.post-item a:hover {
  color: #333;
}
.post-item a:hover h1 {
  border-color: #53bf6b;
}
.post-item h1 {
  border-left: 5px solid #c0c0c0;
  padding-left: 10px;
}
.post-item p {
  margin: 15px 0;
}
.post-item time {
  font-size: 14px;
  color: #999;
}
#page-nav {
  background: #eee;
}
#page-nav .page-number,
#page-nav .extend {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
#page-nav .extend,
#page-nav a {
  text-decoration: none;
}
